.menu-wrapper {
  width: 100%;
  background-color: #ebebeb;
  padding: 16px 24px;
}
.nav-menu {
  display: flex;
}

.menu-item {
  padding: 8px;
  margin-left: 8px;
}
.menu-link {
  font-size: 1.2rem;
  color: #444;
}
.menu-link.active{
  color: #8b5cf6;
}

.container{
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found h2{
  padding: 8px;
  margin-bottom: 8px;
}
.primary-btn{
  border: 1px solid #8b5cf6;
  border-radius: 5px;
  padding: 8px;
  margin: 8px 0;
}
.primary-btn:hover{
  background-color: #8b5cf6;
  color: #fff;
  cursor: pointer;
}

footer{
  background-color: #ebebeb;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-wrapper{
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.tab__link{
  border-right: 1px solid #e2e2e2;
  padding: 1.5rem 2.5rem;
  margin: 0;
  width: 100%;
  color: #444;
}
.tab__link.active{
  border-right: 2px solid #8b5cf6;
  color: #8b5cf6;
}

.tab-content{
  width: 100%;
  text-align: center;
}